---
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Digitalisierung. KI. Automatisierung. Ich helfe Unternehmen, KI und Automatisierung sinnvoll einzusetzen.",
} = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon-96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={new URL("/images/og-image.png", Astro.site)}
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content={new URL("/images/og-image.png", Astro.site)}
    />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="flex min-h-full bg-gray-100 text-gray-800 antialiased">
    <div class="flex w-full flex-col">
      <!-- White center stripe background -->
      <div
        class="pointer-events-none fixed inset-0 flex justify-center sm:px-8"
      >
        <div class="flex w-full max-w-7xl lg:px-8">
          <div class="w-full bg-white ring-1 ring-gray-100"></div>
        </div>
      </div>
      <!-- Content -->
      <div class="relative flex w-full flex-col pt-16">
        <slot />
      </div>
    </div>
  </body>
</html>
